ADF_Pipeline_Automation/Pipeline/F1_Data_Transformation_Pipeline_support_live/pipeline/F1_Data_Transformation_Pipeline.json
{
    "name": "F1_Data_Transformation_Pipeline",
    "properties": {
        "activities": [
            {
                "name": "Get Folder Details",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_f1_raw",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_windows_end_date": {
                                "value": "@pipeline().parameters.p_window_end_date",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "JsonReadSettings"
                    }
                }
            },
            {
                "name": "If Folder Exists",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get Folder Details",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('Get Folder Details').output.exists",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Race_Result",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Users/patelonbricks@gmail.com/Data-Engineering-Using-Azure-Databricks-Formula-1/transform/Race Result Transformation",
                                "baseParameters": {
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_F1_Ingestion",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "Driver_Standings",
                            "type": "DatabricksNotebook",
                            "dependsOn": [
                                {
                                    "activity": "Race_Result",
                                    "dependencyConditions": [
                                        "Completed"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Users/patelonbricks@gmail.com/Data-Engineering-Using-Azure-Databricks-Formula-1/transform/Driver Standings Transformation",
                                "baseParameters": {
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_F1_Ingestion",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "Constructor_Standings",
                            "type": "DatabricksNotebook",
                            "dependsOn": [
                                {
                                    "activity": "Race_Result",
                                    "dependencyConditions": [
                                        "Completed"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Users/patelonbricks@gmail.com/Data-Engineering-Using-Azure-Databricks-Formula-1/transform/Constructor Standings Transformation",
                                "baseParameters": {
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_F1_Ingestion",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "Updated Race Results",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Users/patelonbricks@gmail.com/Data-Engineering-Using-Azure-Databricks-Formula-1/transform/Updated Race Results",
                                "baseParameters": {
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_F1_Ingestion",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "p_window_end_date": {
                "type": "string"
            }
        },
        "variables": {
            "p_data_source": {
                "type": "String",
                "defaultValue": "Ergast API"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-03-15T11:19:10Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}